<form method="post" action="{{ path('app_user_picture_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre avatar ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.image) }}">
    <button class="button fs-14 button-outline m-0auto p08-1em trs-trl-left">Supprimer ma photo</button>
</form>