<form method="post" action="{{ path('app_user_picture_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre avatar ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.image) }}">
    <button class="avatar-change-button fs-14 fw-600 av-btn-outline">Supprimer ma photo</button>
</form>