{% extends "base.html.twig" %}

{% block body %}
{% include "partials/breadcrumb.html.twig" %}
<main class="center-content partials-padding min-height">
    <h1 class="massive-title">Connexion et sécurité</h1>
    <h2 class="jumbo-text mt105em mb02em">Mot de passe</h2>
    <p class="tiny-text color-grey-lighter">Choisissez un mot de passe unique et sécurisé et ne le réutilisez pas pour d’autres comptes.</p>
    <div class="mt105em">
        {{ form_start(form) }}
            <div class="form-item-tier">
                <label for="user_password_change_plainPassword" class="label">
                    Nouveau mot de passe
                    <span class="required-field">champ requis</span>
                </label>
                {{ form_widget(form.plainPassword) }}
            </div>
            <button class="button button-full button-disabled button-medium">Modifier mon mot de passe</button>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}