{% extends "base.html.twig" %}

{% block body %}
{% include "partials/breadcrumb.html.twig" %}
<main class="center-content partials-padding">
    <h1 class="massive-title">Connexion et sécurité</h1>
    <h2 class="jumbo-text">Mot de passe</h2>
    <div>
        {{ form_start(fullnameForm) }}
            <div class="df g102em">
                <div class="form-item-tier">
                    <label for="user_full_name_lastname" class="label">
                        Nom
                    </label>
                    {{ form_widget(fullnameForm.lastname) }}
                </div>
                <div class="form-item-tier">
                    <label for="user_full_name_firstname" class="label">
                        Prénom
                    </label>
                    {{ form_widget(fullnameForm.firstname) }}
                </div>
            </div>
            <button class="button button-full button-disabled button-medium">Enregistrer les modifications</button>
        {{ form_end(fullnameForm) }}
    </div>
</main>
{% endblock %}