{% extends 'base.html.twig' %}

{% block title %}lebonmeow - connexion{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="big-text color-purple">
    <i class="fa-solid fa-shield-cat fa-xl"></i>
    Connexion
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="df aic h-full-mini-header center-content">
    <div class="df fdc jcc aic ps-1em f11auto form-fixed-width">
        <div>
            <h2 class="ta-left massive-text mb-05em">Mot de passe oublié</h2>
            <span>Entrez l'adresse e-mail associée à votre compte</span>
        </div>
        {{ form_start(requestPwdForm) }}
            <div class="form-item">
                <label for="reset_password_request_form_email" class="label">E-mail
                    <span class="required-field">champ requis</span>
                </label>
                {{ form_widget(requestPwdForm.email) }}
            </div>
            <button type="submit" class="dif jcc aic button button-full button-disabled button-small">Continuer</button>
        {{ form_end(requestPwdForm) }}
    </div>
    <div class="bg-padlock"></div>
</main>

{% endblock %}

{% block footer %}{% endblock %}