{% extends 'base.html.twig' %}

{% block title %}lebonmeow - connexion{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="fs-16 fw-600 color-purple">
    <i class="fa-solid fa-shield-cat fa-xl"></i>
    Connexion
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="df m-0auto aic fdc h-full-mini-header mxw-1066px">
    <div class="df mtb-205em-lr-1em w-100 aic jcc f110">
        <div class="df fdc jcc aic ps-1em f11auto form-fixed-width">
            <h2 class="ta-left fw-600 fs-24 mb-05em">Modifier mon mot de passe</h2>
            {{ form_start(pwdForm) }}
                <div class="form-item">
                    <label for="reset_password_form_plainPassword" class="label">Nouveau mot de passe
                        <span class="required-field">champ requis</span>
                    </label>
                    {{ form_widget(pwdForm.plainPassword) }}
                </div>
                <button type="submit" class="dif aic jcc button button-full button-disabled fs-14 p08-1em mt-105em">Continuer</button>
            {{ form_end(pwdForm) }}
        </div>
        <div class="bg-padlock"></div>
    </div>
</main>

{% endblock %}
            

{% block footer %}{% endblock %}