{% extends 'base.html.twig' %}

{% block title %}lebonmeow - connexion{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="big-text color-purple">
    <i class="fa-solid fa-shield-cat fa-xl"></i>
    Connexion
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="df aic h-full-mini-header center-content">
    <div class="df fdc jcc aic ps-1em f11auto form-fixed-width">
        <h2 class="ta-left massive-text mb-05em">Modifier mon mot de passe</h2>
        {{ form_start(pwdForm) }}
            <div class="form-item">
                <label for="reset_password_form_plainPassword" class="label">Nouveau mot de passe
                    <span class="required-field">champ requis</span>
                </label>
                {{ form_widget(pwdForm.plainPassword) }}
            </div>
            <button type="submit" class="dif jcc aic button button-full button-disabled button-small">Continuer</button>
        {{ form_end(pwdForm) }}
    </div>
    <div class="bg-padlock"></div>
</main>

{% endblock %}
            

{% block footer %}{% endblock %}