{% extends 'base.html.twig' %}

{% block title %}lebonmeow - connexion{% endblock %}

{% block header %}
{% include "partials/header_mini.html.twig" %}
<span class="header-mini-title fs-16 fw-600 color-purple">
    <i class="fa-solid fa-shield-cat fa-xl"></i>
    Connexion
</span>
</div>
</header>
{% endblock %}

{% block body %}
<main class="main-forgot">
    <div class="row-forgot">
        <div class="col-forgot">
            <div class="section-forgot-form">
                <div class="forgot-form-intro">
                    <h2 class="ta-left fw-600 fs-24">Modifier mon mot de passe</h2>
                </div>
                {{ form_start(pwdForm) }}
                    <div class="form-item">
                        <label for="reset_password_form_plainPassword" class="label">Nouveau mot de passe
                            <span class="required-field">champ requis</span>
                        </label>
                        {{ form_widget(pwdForm.plainPassword) }}
                    </div>
                    <button type="submit" class="forgot-form-button button button-full button-disabled fs-14 p08-1em mt-105em">Continuer</button>
                {{ form_end(pwdForm) }}
            </div>
            <div class="section-forgot-image"></div>
        </div>
    </div>
</main>

{% endblock %}
            

{% block footer %}{% endblock %}