{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register {{ user.username }}</h1>

    {{ form_start(registrationStepPasswordForm) }}
        <button type="submit" class="btn">Password</button>
    {{ form_end(registrationStepPasswordForm) }}
{% endblock %}
