{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register {{user.username }} 2</h1>

    {{ form_start(registrationStepEmailForm) }}
        <button type="submit" class="btn">Email</button>
    {{ form_end(registrationStepEmailForm) }}
{% endblock %}
