<div class="breadcrumb-container fs-12">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item"><a href="/" class="color-purple">Accueil</a></li>
        <li class="breadcrumb-item"><a href="/category/{{ product.category.id }}" class="color-purple">{{ product.category.name | capitalize }}</a></li>
        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
</div>