<div class="ptb-1em tiny-text">
    <ol class="df jcs">
        <li class="chevron"><a href="/" class="link-color-change link-underlined">Accueil</a></li>
        <li class="chevron"><a href="/category/{{ product.category.id }}" class="link-color-change link-underlined">{{ product.category.name | capitalize }}</a></li>
        <li class="chevron">{{ product.name }}</li>
    </ol>
</div>