<footer>
    <div class="footer-body">
        <ul>
            <li>à propos du bon meow</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li>informations légales</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li>des questions ?</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <span class="app-years">lebonmeow 2020 - 2022</span>
        <span class="follow-us">Retrouvez nous sur </span>
    </div>
</footer>