<footer>
    <div class="mxw-70 m-0auto">
        <div class="df jcsb g1em">
            <ul class="w-100">
                <li class="fs-14 mb-05em tt-up fw-600 pb-025em mb-1em bb-footer">à propos du bon meow</li>
                <li class="fs-13 mb-05em"><a href="https://www.web-atrio.com/SSII/a-propos" class="link-underlined">Qui sommes nous ?</a></li>
                <li class="fs-13 mb-05em"><a href="https://www.web-atrio.com/SSII/offres" class="link-underlined">Nous rejoindre</a></li>
                <li class="fs-13 mb-05em"><a href="https://www.web-atrio.com/SSII/carrieres" class="link-underlined">Nos engagements</a></li>
            </ul>
            <ul class="w-100">
                <li class="fs-14 mb-05em tt-up fw-600 pb-025em mb-1em bb-footer">informations légales</li>
                <li class="fs-13 mb-05em">Conditions générales d'utilisation</li>
                <li class="fs-13 mb-05em">Conditions générales de vente</li>
                <li class="fs-13 mb-05em">Vie privée / cookies</li>
                <li class="fs-13 mb-05em">Vos droits et obligations</li>
                <li class="fs-13 mb-05em">Avis utilisateurs</li>
                <li class="fs-13 mb-05em">Charte de bonne conduite</li>
            </ul>
            <ul class="w-100">
                <li class="fs-14 mb-05em tt-up fw-600 pb-025em mb-1em bb-footer">des questions ?</li>
                <li class="fs-13 mb-05em">Aide</li>
                <li class="fs-13 mb-05em">Le service de paiment sécurisé et la livraison</li>
                <li class="fs-13 mb-05em">Le porte-monnaie</li>
                <li class="fs-13 mb-05em">Demandez conseil à la Communauté</li>
                <li class="fs-13 mb-05em">Statut de nos services</li>
            </ul>
        </div>
        <div class="pt-0625em mt-1em bt-footer df jcsb aic fs-12">
            <span>lebonmeow 2020 - 2022</span>
            <span class="fs-13">Retrouvez nous sur 
                <i class="fa-brands fa-square-facebook fa-2xl ms-0125em"></i>
                <i class="fa-brands fa-square-twitter fa-2xl ms-0125em"></i>
                <i class="fa-brands fa-instagram fa-2xl ms-0125em"></i>
                <i class="fa-brands fa-pinterest fa-2xl ms-0125em"></i>
            </span>
        </div>
    </div>
</footer>