<footer>
    <div class="center-content partials-padding">
        <div class="df jcsb g1em">
            <ul class="w-100 list-item-margin">
                <li class="list-item-title">à propos du bon meow</li>
                <li class="small-text"><a href="https://www.web-atrio.com/SSII/a-propos" class="link-underlined">Qui sommes nous ?</a></li>
                <li class="small-text"><a href="https://www.web-atrio.com/SSII/offres" class="link-underlined">Nous rejoindre</a></li>
                <li class="small-text"><a href="https://www.web-atrio.com/SSII/carrieres" class="link-underlined">Nos engagements</a></li>
            </ul>
            <ul class="w-100 list-item-margin">
                <li class="list-item-title">informations légales</li>
                <li class="small-text">Conditions générales d'utilisation</li>
                <li class="small-text">Conditions générales de vente</li>
                <li class="small-text">Vie privée / cookies</li>
                <li class="small-text">Vos droits et obligations</li>
                <li class="small-text">Avis utilisateurs</li>
                <li class="small-text">Charte de bonne conduite</li>
            </ul>
            <ul class="w-100 list-item-margin">
                <li class="list-item-title">des questions ?</li>
                <li class="small-text">Aide</li>
                <li class="small-text">Le service de paiment sécurisé et la livraison</li>
                <li class="small-text">Le porte-monnaie</li>
                <li class="small-text">Demandez conseil à la Communauté</li>
                <li class="small-text">Statut de nos services</li>
            </ul>
        </div>
        <div class="box-wide-top-border tiny-text">
            <span>lebonmeow 2020 - 2022</span>
            <span class="small-text">Retrouvez nous sur 
                <i class="fa-brands fa-square-facebook fa-2xl ms-social-icons"></i>
                <i class="fa-brands fa-square-twitter fa-2xl ms-social-icons"></i>
                <i class="fa-brands fa-instagram fa-2xl ms-social-icons"></i>
                <i class="fa-brands fa-pinterest fa-2xl ms-social-icons"></i>
            </span>
        </div>
    </div>
</footer>