<header>
    <div class="header-mini">
        <a href="/" class="header-arrow-back"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
        <a href="/" class="header-mini-logo">
            <img src="/images/logo-pressed.png" alt="Logo du site Lebonmeow" class="logo">
        </a>
        