<form method="post" action="{{ path('app_product_delete', {'slug': soldProduct.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soldProduct.id) }}">
    <button class="p07-1em button button-red-outline">Supprimer</button>
</form>
