<h2 class="new-product-form-title">Commençons par l'essentiel !</h2>
<form method="post">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</form>
