{% extends 'base.html.twig' %}

{% block title %}Modifier votre annonce {{ product.name }} sur lebonmeow{% endblock %}

{% block body %}
<div class="bg-grey">
<main class="center-content">
    <h1 class="massive-title">Modifier une annonce</h1>
    <a href="{{ path('app_user_products', {'id': app.user.id}) }}" class="button button-outline p05-1em mtb03em">Retour aux annonces</a>
    <div class="grid-product-form">
        <div class="box-whitebg">
        {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
        <div class="narrow-column-box">
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>Mettez en valeur votre annonce !</p>
                <p>Plus il y a de détails, plus votre futur acheteur vous trouvera rapidement.</p>
            </div>
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>Vous le savez, le prix est important, autant pour vous que pour l’acheteur.</p>
                <p>Soyez juste, mais ayez en tête une marge de négociation si besoin.</p>
            </div>
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>3 photos dans une annonce augmentent de 30% le nombre de contacts !</p>
            </div>
        </div>
    </div>
</main>
</div>
{% endblock %}

{% block footer %}{% endblock %}