{% extends 'base.html.twig' %}

{% block title %}Déposer une petite annonce sur lebonmeow{% endblock %}

{% block body %}
    <div class="container">
        <main class="new-product-main">
            <h1 class="new-product-title">Déposer une annonce</h1>
            <div class="new-product-row">
                <div class="new-product-form">
                {{ include('product/_form.html.twig') }}
                </div>
                <div class="new-product-tipscard">
                    <div class="tipscard-drawing">
                        <div class="tipscard-line"></div>
                        <i class="fa-regular fa-lightbulb fa-2xl"></i>
                        <div class="tipscard-line"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {# <a href="{{ path('app_product_index') }}">back to list</a> #}
{% endblock %}

{% block footer %}{% endblock %}
