{% extends 'base.html.twig' %}

{% block title %}Déposer une petite annonce sur lebonmeow{% endblock %}

{% block body %}
<div class="bg-grey">
<main class="center-content">
    <h1 class="p-t105em-s1em-b08em massive-text">Déposer une annonce</h1>
    <div class="grid-product-change">
        <div class="form-white-bg pts-2em-b-205em">
        {{ include('product/_form.html.twig') }}
        </div>
        <div class="df fdc jcs g3em ps-2em ta-center">
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>Votre annonce sera trouvée plus facilement !</p>
                <p>Vous aurez 50% de chances en plus d’être contacté si votre annonce est dans la bonne catégorie.</p>
            </div>
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>Mettez en valeur votre bien ! Plus il y a de détails, plus votre annonce sera de qualité. Détaillez ici ce qui a de l'importance et ajoutera de la valeur</p>
            </div>
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>Vous le savez, le prix est important, autant pour vous que pour l'acheteur. Soyez juste, mais ayez en tête une marge de négociation si besoin</p>
            </div>
            <div>
                <div class="tipscard-drawing">
                    <div class="tipscard-line"></div>
                    <i class="fa-regular fa-lightbulb ms-lightbulb-tipscard fa-2xl"></i>
                    <div class="tipscard-line"></div>
                </div>
                <p>3 photos dans une annonce augmentent de 30% le nombre de contacts !</p>
            </div>
        </div>
    </div>
</main>
</div>
{% endblock %}

{% block footer %}{% endblock %}
