<div class="box-shadow mxw-930px bg-white m2emauto p1em">
    {{ form_start(form) }}
        <div class="df g1em aic">
            {{ form_widget(form.query) }}
            {{ form_widget(form.search) }}
        </div>
    {{ form_end(form) }}
</div>