.main-account-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-account-picture-content {
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em 2em;
    width: 650px;
    box-shadow: var(--gradient);
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.xmark {
    align-self: end;
    color: var(--grey-label);
}

.account-picture-title {
    margin-bottom: 2em;
}

.account-picture-title h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.2em;
}

.account-picture-title p {
    font-size: 14px;
}

.account-picture-display img {
    height: 152px;
    width: 152px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.account-picture-form-info {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 12px;
    color: var(--grey-label);
}

.account-picture-form .label-file {
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 0.6em 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--purple);
    transition: background-color 0.3s ease;
}

.account-picture-form .label-file:hover {
    background-color: var(--purple-darker);
}

.account-picture-form .input-file {
    display: none;
}

.avatar-change-button {
    border: none;
    border-radius: 5px;
    padding: 0.8em 1em;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.av-btn-full {
    background-color: var(--purple);
    color: white;
    transition: background-color 0.3s ease;
    transform: translate(200px, 25px);
}

.av-btn-full:hover {
    background-color: var(--purple-darker);
}

.av-btn-outline {
    background-color: white;
    border: 1px solid var(--purple);
    color: var(--purple);
    transition: background-color 0.3s ease;
    transform: translate(-200px, -15px);
}

.av-btn-outline:hover {
    background-color: var(--background-button-outline);
    border-color: var(--purple-darker);
    color: var(--purple-darker);
}

.av-btn-full-centered {
    background-color: var(--purple);
    color: white;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.av-btn-full-centered:hover {
    background-color: var(--purple-darker);
}