.main-account-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-account-picture-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 650px;
    box-shadow: var(--gradient);
}

.xmark {
    align-self: end;
    color: var(--grey-label);
}

.account-picture-form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: var(--grey-label);
}

.input-file {
    display: none;
}