.box-shadow {
    border-radius: 10px;
    box-shadow: var(--gradient);
}

.box {
    margin: 0.5em;
    display: flex;
}

.medium-box {
    height: 120px;
}

.small-box {
    flex-direction: row;
    align-items: center;
    height: 75px;
}

.big-box {
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
}

.big-box-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.box-w-border {
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
}

.box-w-shadowh {
    border-radius: 10px;
    box-shadow: var(--gradient);
    transition: box-shadow 0.3s ease;
}
.box-w-shadowh:hover {
    box-shadow: var(--gradient-darker);
}