.breadcrumb-container {
    padding-bottom: 1rem;
}

.breadcrumb-list {
    display: flex;
    justify-content: flex-start;
}

.breadcrumb-item:not(:first-of-type)::before {
    content: ">";
    padding-left: 0.2rem;
    padding-right: 0.5rem;
}

.breadcrumb-item a:hover {
    color: var(--purple-darker);
    text-decoration: underline;
}