.button {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.button-outline {
    background-color: white;
    border: 1px solid var(--purple);
    color: var(--purple);
    transition: background-color 0.3s ease;
}
.button-outline:hover {
    background-color: var(--background-button-outline);
    border-color: var(--purple-darker);
    color: var(--purple-darker);
}

.button-yellow {
    background-color: var(--yellow);
    color: black;
    transition: background-color 0.3s ease;
}
.button-yellow:hover {
    background-color: var(--yellow-darker);
}

.button-full {
    background-color: var(--purple);
    color: white;
    transition: background-color 0.3s ease;
}
.button-full:hover {
    background-color: var(--purple-darker);
}
.button-full:disabled {
    background-color: var(--grey);
    color: var(--input-border-color);
    cursor: not-allowed;
    pointer-events: none;
}

.button-delete {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: background-color 0.3s ease;
}
.button-delete:hover {
    background-color: var(--purple);
    color: black;
}

.trs-trl-right {
    transform: translate(210px, 55px);
}
.trs-trl-left {
    transform: translate(-200px, -15px);
}