:root {
    --purple: #BB14FF;
    --purple-darker: #860EB5;
    --yellow: #FFF11A;
    --yellow-darker: #C7BB14;
    --grey: #f4f6f7;
    --body-background-color: #fafafa;
    /* box-shadow gradient */
    --gradient: rgb(26, 26, 26, 0.08) 0px -1px 4px 0px, rgb(26, 26, 26, 0.12) 0px 4px 8px 0px;
    --gradient-darker: rgb(26, 26, 26, 0.12) 0px -1px 8px 0px, rgb(0, 0, 0, 0.14) 0px 4px 8px 0px;
    /* footer */
    --footer-background-color: #474747;
    --footer-border-color: #a8b4c0;
    /* forms */
    --input-border-color: #cad1d9;
    --grey-label: #8191a0;
    /* alerts boxes */
    --alert-success-background: #d1e7dd;
    --alert-success-color: #0f6166;
    --alert-danger-background: #F8D7DA;
    --alert-danger-color: #B55429;
    /* icons */
    --icons-grey: #bec1d2;
}