.df {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.fdr {
    flex-direction: row;
}

.aic {
    align-items: center;
}

.ais {
    align-items: flex-start;
}

.aie {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.g2em {
    gap: 2em;
}

.asc {
    align-self: center;
}

.ase {
    align-self: flex-end;
}