.df {
    display: flex;
}
.dif {
    display: inline-flex;
}

.fdc {
    flex-direction: column;
}
.fdr {
    flex-direction: row;
}

.aic {
    align-items: center;
}
.ais {
    align-items: flex-start;
}
.aie {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}
.jcs {
    justify-content: flex-start;
}
.jce {
    justify-content: flex-end;
}
.jcsb {
    justify-content: space-between;
}
.jcsa {
    justify-content: space-around;
}

.fww {
    flex-wrap: wrap;
}

.g06em {
    gap: 0.6em;
}
.g102em {
    gap: 1.2em;
}
.g2em {
    gap: 2em;
}

.asc {
    align-self: center;
}
.ase {
    align-self: flex-end;
}
.ass {
    align-self: stretch;
}

.f110 {
    flex: 1 1 0%;
}
.f11auto {
    flex: 1 1 auto;
}