.main-forgot {
    display: flex;
    height: calc(100vh - 59px);
}

.row-forgot {
    display: flex;
    margin: 0px auto;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 59px);
    max-width: 1500px;
}

.col-forgot {
    display: flex;
    margin: 2.5em 1em;
    margin-bottom: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
}

.section-forgot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin: 0px 1rem;
    flex: 1 1 auto;
}

.section-forgot-form form {
    width: 305px;
}

.section-forgot-form h2 {
    margin-bottom: 0.6rem;
    margin-top: 25px;
}

.section-forgot-image {
    background-image: url(/public/images/forgot-pwd.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    display: flex;
}

.forgot-form-button {
    margin-top: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: var(--purple);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-form-button:hover {
    background-color: var(--purple-darker);
}

.forgot-form-button:disabled {
    background-color: var(--grey);
    color: #cad1d9;
    cursor: not-allowed;
    pointer-events: none;
}