.main-form {
    background-image: url(/public/images/cat-background.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 980px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: calc(100vh - 59px);
}

.card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--gradient);
}

.card-form-intro {
    display: grid;
    text-align: center;
    justify-items: center;
}

.card-form-forgot-pwd {
    padding-top: 2px;
    display: flex;
    transition: color 0.3s ease;
}

.card-form-forgot-pwd:hover {
    color: var(--purple-darker);
}

.card-form-button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 2.6rem;
}

.card-form-link {
    font-size: 13px;
}

.card-form-link a {
    color: var(--purple);
    transition: color 0.3s ease;
}

.card-form-link a:hover {
    color: var(--purple-darker);
}

.alert {
    margin: 2rem auto 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}

.alert-success {
    border: 1px solid var(--alert-success-color);
    background-color: var(--alert-success-background);
    color: var(--alert-success-color);
}

.alert-success a {
    color: var(--purple);
}

.alert-danger {
    border: 1px solid var(--alert-danger-color);
    background-color: var(--alert-danger-background);
    color: var(--alert-danger-color);
}