header {
    z-index: 1100;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: var(--gradient);
}

.rm-p-first:first-of-type {
    padding-left: 0;
}

.rm-p-last:last-of-type {
    padding-right: 0;
}

.navlink:hover {
    box-shadow: inset 0 -2px 0 0 black;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, font-weight 1.5s;
}

.dot {
    flex: 1 1 0%;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

span.dot:last-child {
    display: none;
}

.dot::after {
    top: 50%;
    left: 50%;
    font-weight: 600;
    content: '•';
    position: absolute;
    transform: translate(-50%, -80%);
}

.user-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.5em;
}

.avatar-link-gap {
    gap: 0.2rem;
    padding-bottom: 4px;
}

.header-top-links:hover {
    box-shadow: inset 0 -2px 0 0 var(--purple);
    transition: 0.5s ease-in-out;
}


/* header mini */
.header-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0;
}

.header-mini-logo {
    padding-right: 1.250em;
    border-right: 2px solid var(--purple);
    margin-right: 1.250em;
}