header {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 14px;
    color: black;
    z-index: 1100;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: var(--header-shadow-dark) 0px -1px 4px 0px, var(--header-shadow-light) 0px 4px 8px 0px;
}

.header-content {
    max-width: 1066px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    position: relative;
    line-height: 1.5;
}

.header-left-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    font-weight: 600;
}

.header-left-content img {
    width: 140px;
    height: 60px;
}

.header-right-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
}

.header-nav {
    flex: 1 1 auto;
    font-size: 14px;
    padding-top: 12px;
}

.header-nav ul {
    align-self: stretch;
    display: flex;
    height: 100%;
    align-items: center;
}

.header-nav li {
    align-self: center;
    padding-bottom: 14px;
    padding: 0 16px 14px;
}

.header-nav li:first-child {
    padding-left: 0;
}

.header-nav li:last-child {
    padding-right: 0;
}

.header-nav li:hover {
    box-shadow: inset 0 -2px 0 0 black;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, font-weight 1.5s;
}

.dot {
    flex: 1 1 0%;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.dot::before {
    top: 50%;
    left: 50%;
    font-weight: 600;
    content: '•';
    position: absolute;
    transform: translate(-50%, -80%);
}

a {
    text-decoration: none;
    color: inherit;
}

.app-new-post {
    background-color: var(--purple);
    border-radius: 4px;
    height: 40px;
    padding: 0 8px;
    color: white;
    display: flex;
    align-items: center;
}

.app-new-post:hover {
    background-color: var(--purple-darker);
    transition: 0.5s;
}

.app-new-post i {
    margin-right: 8px;
}

.app-search {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding-left: 0.4rem;
    padding-right: 0.8rem;
}

.user-links {
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    gap: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: #333333;
}

.user-links-icons {
    height: 24px;
    width: 24px;
}

.header-top-links:hover {
    box-shadow: inset 0 -2px 0 0 var(--purple);
    transition: 0.5s ease-in-out;
}