.container {
    background-color: var(--body-background-color);
}

.main-title {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1066px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 1px 8px;
    max-width: 195px;
    align-items: center;
    padding-bottom: 30px;
}

.product-seller-details {
    align-self: flex-start;
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
}

.product-seller-username {
    font-weight: 600;
}

.product-seller-image img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.product-seller-reviews-number {
    font-size: 12px;
}

.product-seller-reviews .fa-star {
    color: var(--purple);
}

.product-main {
    order: 2;
    transition: color ease-in;
}

.product-main:hover {
    color: var(--purple);
}

.product-image img {
    width: 180px;
    height: 225px;
    border-radius: 5%;
}

.product-price {
    order: 3;
    align-self: flex-start;
    font-weight: 600;
}

.product-title {
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: 600;
    white-space: normal;
}
