.background-grey {
    background-color: var(--body-background-color);
}

.main-title {
    padding: 32px 0;
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1066px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 1px 8px;
    max-width: 195px;
    align-items: center;
    padding-bottom: 30px;
}

.product-seller-details {
    align-self: flex-start;
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
}

.product-main {
    order: 2;
}

.product-price {
    order: 3;
    align-self: flex-start;
}