.container {
    background-color: var(--background-body-color);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1066px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    padding: 1em;
    margin: 0.5em;
    max-width: 30%;
}

.product-seller-details {
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: flex-start;
}

.product-seller-image img {
    width: 24px;
    height: 24px;
}

.product-image {
    order: 99;
}

.product-image img {
    width: 180px;
    height: 225px;
}