.logo {
    height: 30px;
    width: 140px;
}

.h24-w24 {
    height: 24px;
    width: 24px;
}

.h30-w30 {
    height: 30px;
    width: 30px;
}

.h63-w63 {
    height: 63px;
    width: 63px;
}

.h88-w88 {
    height: 88px;
    width: 88px;
}

.h150-w150 {
    height: 150px;
    width: 150px;
}

.h152-w152 {
    height: 152px;
    width: 152px;
}

.h80-w140 {
    height: 80px;
    width: 140px;
}

.h180-w225 {
    width: 180px;
    height: 225px;
}

.h187-w150 {
    height: 187.5px;
    width: 150px;
}

.h194-w240 {
    height: 194px;
    width: 240px;
}

.responsive-h323-w340 {
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 323px;
}

.round-picture {
    border-radius: 50%;
}

.roundish-corner {
    border-radius: 5px;
}

.rounded-corner {
    border-radius: 10px;
}

.cover-center-object {
    object-fit: cover;
    object-position: center;
}

.contain-center-object {
    object-fit: contain;
    object-position: center;
}