/* Template product-new */
.new-product-main {
    padding-top: 1.5em;
}

.new-product-row {
    width: 100%;
    max-width: 1066px;
    margin: 0 auto;
    display: grid;
    grid-template: 
        [start-row] "main tipscard" auto [end-row]
        / 75% 25%;
}

.new-product-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0.8em;
    width: 100%;
    max-width: 1066px;
    margin: 0 auto;
}

.new-product-form {
    background-color: white;
    padding: 2em 2em 2.5em;
    border-radius: 1em;
}

.new-product-tipscard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
}

/* Tipscard */
.tipscard-drawing {
    color: var(--purple);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2em 0;
}

.tipscard-line {
    height: 1px;
    flex: 1 1;
    background: var(--purple);
}

.fa-lightbulb {
    margin: 0 0.8rem;
}

/* Template product_form */
.new-product-form-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.6em;
}

.new-product-form-group {
    width: 50%;
}

.card-form-textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    width: 100%;
}

.card-form-textarea textarea {
    border: none;
    border-radius: 4px;
    flex: 5 1 0%;
    font-size: 14px;
    height: 100%;
    padding: 1rem;
    max-width: 100%;
    resize: none;
}
