/* Template product-* */
.new-product-row {
    width: 100%;
    max-width: 1066px;
    display: grid;
    grid-template: 
        [start-row] "main tipscard" auto [end-row]
        / 75% 25%;
}

.new-product-title {
    width: 100%;
    max-width: 1066px;
}

.new-product-form {
    background-color: white;
    border-radius: 1em;
}

.new-product-tipscard {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/* Tipscard */
.tipscard-drawing {
    color: var(--purple);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2em 0;
}

.tipscard-line {
    height: 1px;
    flex: 1 1;
    background: var(--purple);
}

/* Template product_form */
.new-product-form form {
    display: flex;
    flex-direction: column;
}

.product-images-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3em;
}