/* Template product-new */
.new-product-main {
    padding-top: 1.5em;
    width: 55%;
    margin: 0 auto;
    height: 75vh;
}

.new-product-row {
    display: grid;
    grid-template: 
        [start-row] "main tipscard" auto [end-row]
        / 75% 25%;
}

.new-product-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0.8em;
}

.new-product-form {
    background-color: white;
    padding: 2em 2em 2.5em;
    border-radius: 1em;
}

.new-product-tipscard {
    display: flex;
    flex-direction: column;
}

/* Template product_form */
.new-product-form-title {
    font-size: 18px;
    font-weight: 600;
}
