.main-product {
    margin: 1.6rem auto;
    max-width: 1066px;
    width: calc(100% - 4rem);
}

.product-content {
    display: grid;
    grid-template-columns: [col-first] 65% [col-second] 35% [col-third];
    grid-template-rows: [row-start] auto [row-middle] auto [row-end];
}

/* Top section */
.product-content-details {
    grid-area: row-start / col-first / row-middle / col-second;
    min-width: 320px;
}

.product-content-details-top {
    display: flex;
    flex-direction: column;
}

.product-content-images {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.product-content-images img {
    width: 100%;
    max-width: 340px;
    max-height: 323px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.product-content-details-header {
    display: flex;
    flex-direction: column;
    padding: 1.2em 0;
    margin: 0 0.2em;
    border-bottom: 1px solid #cad1d9;
}

.page-product-name {
    font-size: 24px;
    font-weight: 600;
}

.page-product-price {
    font-size: 18px;
    font-weight: 600;
    margin: 0.3rem 0;
}

.page-product-date {
    font-size: 12px;
}


/* Top section - Middle */
.product-page-middle-box {
    margin: 0 0.5em;
    padding: 1.6em 0;
    display: grid;
    gap: 1em;
    border-bottom: 1px solid #cad1d9;
}

.page-product-middle-title {
    font-size: 18px;
    font-weight: 600;
}


/* Bottom section */
.product-content-related {
    grid-area: row-middle / col-first / row-end / col-second;
}

.seller-more-content-header {
    display: flex;
    gap: 1em;
}

.seller-more-content-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seller-more-sold-products {
    margin-top: 1.5em;
}

.seller-other-sold-products {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1.2em;
}

.product-page-other-seller-products {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1em;
}

.page-product-item {
    padding-bottom: 1px;
    max-width: 150px;
}

.page-product-other-seller-product-image img {
    height: 187.5px;
    width: 150px;
    border-radius: 5px;
}


/* Aside */
.seller-aside {
    display: flex;
    flex-direction: column;
    grid-area: row-start / col-second / row-middle / col-third;
}

.seller-card {
    box-shadow: var(--gradient);
    border-radius: 5px;
    margin-left: 1rem;
    background-color: white;
    min-width: 320px;
}

.product-page-seller-avatar {
    height: 4.5em;
    width: 4.5em;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}

.seller-card-header {
    margin: 0 1em;
    padding: 1.5em 0;
    display: flex;
    border-bottom: 1px solid #e6ebef;
}

.seller-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 1rem;
}

.seller-username {
    font-size: 16px;
    font-weight: 600;
}

.seller-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: 1.7em 1.1em;
}

.seller-buttons button {
    padding: 0.9em 0;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.seller-button-buy {
    background-color: var(--purple);
    color: white;
}

.seller-button-buy:hover {
    background-color: var(--purple-darker);
}

.seller-button-chat {
    background-color: var(--yellow);
    color: black;
}

.seller-button-chat:hover {
    background-color: var(--yellow-darker);
}