.container-profile {
    background-color: white;
    width: 100%;
    max-width: 1066px;
    padding: 24px 0;
    margin: 0 auto;
    display: grid;
    grid: [one] "public public wallet" auto [two]
          [two] "products deals bookings" auto [three]
          [three] "spaces settings security" auto [four]
          [four] "credits assistance community" auto [five]
          [five] "logout . ." auto [six]
          / 1fr 1fr 1fr;
}

.profile-cards {
    padding: 24px;
    margin: 8px;
    display: flex;
    align-items: center;
    box-shadow: var(--gradient);
    border-radius: 10px;
}

.profile-cards-titles {
    font-size: 16px;
    font-weight: 600;
}

.secondary-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.secondary-cards:hover {
    box-shadow: var(--gradient-darker);
}

/* First card */
.public-profile-card {
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 0 24px 0 0;
    margin-bottom: 1.5em;
    grid-area: public;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
}

.profile-user-button {
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 0.5em 1em;
    color: var(--purple);
    font-weight: 600;
    background-color: white;
    transition: background-color 0.3s ease;
}

.profile-user-button:hover {
    background-color: #ddccff;
    color: var(--purple-darker);
    border-color: var(--purple-darker);
}

.profile-user {
    display: flex;
    align-items: center;
}

.profile-user h1 {
    position: relative;
    bottom: 10px;
    left: 85px;
    font-size: 20px;
    font-weight: 600;
}

.profile-picture {
    height: 120px;
    padding: 2.5px;
}

.profile-picture img {
    width: 115px;
    position: absolute;
}

.profile-picture-add {
    position: relative;
    left: 73px;
    top: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1em;
    background-color: white;
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
    box-shadow: var(--gradient);
}
/* ----- */

/* Second card */
.wallet-card {
    margin-bottom: 1.5em;
    grid-area: wallet;
}

.wallet-card-bg {
    background: url(/public/images/bg-tiny.png);
    background-position: center right;
    background-size: 130px 120px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.wallet-card-content {
    display: flex;
    flex-direction: column;
}

.wallet-balance {
    font-size: 24px;
    font-weight: 600;
}
/* ----- */

/* Third card */
.products-card {
    grid-area: products;
}

.products-card .fa-square {
    color: #bec1d2;
}
/* ----- */

.deals-card {
    border: 2px solid gold;
    grid-area: deals;
}

.bookings-card {
    border: 2px solid yellow;
    grid-area: bookings;
}

.spaces-card {
    border: 2px solid greenyellow;
    grid-area: spaces;
}

.settings-card {
    border: 2px solid green;
    grid-area: settings;
}

.security-card {
    border: 2px solid teal;
    grid-area: security;
}

.credits-card {
    border: 2px solid darkturquoise;
    grid-area: credits;
}

.assistance-card {
    border: 2px solid blue;
    grid-area: assistance;
}

.community-card {
    border: 2px solid blueviolet;
    grid-area: community;
}

.logout-card {
    border: 2px solid indigo;
    margin-top: 2em;
    display: flex;
    align-items: end;
    grid-area: logout;
}