.container-profile {
    min-height: calc(100vh - 15em);
}

.main-profile {
    padding: 4em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.user-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;
}

.user-products-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;
}

.products-count-span {
    font-size: 18px;
    font-weight: 600;
}

.user-product-display {
    display: flex;
    border-radius: 5px;
    box-shadow: var(--gradient);
}

.user-product-display:hover .profile-product-name {
    color: var(--purple);
}

.product-thumbnail {
    width: 240px;
    height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-thumbnail-resize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-product-content {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-product-name,
.profile-product-price {
    font-weight: 600;
}

.profile-product-name {
    font-size: 20px;
    transition: color 0.3s ease;
}

.profile-product-price {
    font-size: 16px;
}

.profile-product-category {
    margin-top: 0.5em;
}