.container-profile {
    min-height: calc(100vh - 15em);
}

.main-profile {
    padding: 4em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.user-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;
}

.user-products-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;
}

.user-product-display {
    display: flex;
    border-radius: 10px;
    box-shadow: var(--gradient);
}

.product-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcgd-grey {
    background-color: var(--input-border-color);
}

.profile-product-content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.profile-product-category {
    margin-top: 0.5em;
}