/* MARGINS */
.m-0auto {
    margin: 0 auto;
}
.ms-0125em {
    margin: 0 0.125em;
}
.ms-02em {
    margin: 0 0.2em;
}
.ms-04em {
    margin: 0 0.4em;
}
.ms-1em {
    margin: 0 1em;
}
.mtb-03em {
    margin: 0.3em 0;
}
.mtb-105em-auto {
    margin: 1.5em auto;
}
.mtb-4em {
    margin: 4em auto;
}
.mtb-105em {
    margin: 1.5em 0;
}
.mtb-205em-lr-1em {
    margin: 2.5em 1em;
}

.mt-105em-sb-0auto {
    margin: 1.5em auto 0;
}
.mt-2em-sb-auto {
    margin: 2em auto auto;
}

.mt-0 {
    margin-top: 0;
}
.mt-05em {
    margin-top: 0.5em;
}
.mt-1em {
    margin-top: 1em;
}
.mt-105em {
    margin-top: 1.5em;
}
.mt-2em {
    margin-top: 2em;
}

.mr-05em {
    margin-right: 0.5em;
}
.mr-105em {
    margin-right: 1.5em;
}

.ml-1em {
    margin-left: 1em;
}
.ml-105em {
    margin-left: 1.5em;
}

.mb-02em {
    margin-bottom: 0.2em;
}
.mb-05em {
    margin-bottom: 0.5em;
}
.mb-1em {
    margin-bottom: 1em;
}
.mb-102em {
    margin-bottom: 1.2em;
}
.mb-105em {
    margin-bottom: 1.5em;
}
.mb-2em {
    margin-bottom: 2em;
}
.mb-405em {
    margin-bottom: 4.5em;
}


/* PADDINGS */
.p-05em {
    padding: 0.5em;
}
.p-1em {
    padding: 1em;
}
.p-105em {
    padding: 1.5em;
}
.p-2em {
    padding: 2em;
}

.ps-02em {
    padding: 0 0.2em;
}
.ps-1em {
    padding: 0 1em;
}
.ps-2em {
    padding: 0 2rem;
}
.ptb-075rem {
    padding: 0.75rem 0;
}
.ptb-1em-lr-05em {
    padding: 1em 0.5em;
}
.ptb-102em {
    padding: 1.2em 0;
}
.ptb-105em {
    padding: 1.5em 0;
}
.ptb-105em-lr-1em {
    padding: 1.5em 1em;
}
.ptb-102em-lr-05em {
    padding: 1.2em 0.5rem;
}
.ptb-05em-lr-06em {
    padding: 0.5em 0.6em;
}
.ptb-07em-lr-105em {
    padding: 0.7em 1.5em;
}
.ptb-2em {
    padding: 2em 0;
}
.ptb-4em {
    padding: 4em 0;
}

.ps-1em-b-101em {
    padding: 0 1em 1.1em;
}
.p-t105em-s1em-b08em {
    padding: 1.5em 1em 0.8em;
}
.pts-2em-b-205em {
    padding: 2em 2em 2.5em;
}

.pt-02em-05em {
    padding: 0.2em 0.5em 0.5em;
}

.pt-0 {
    padding-top: 0;
}
.pt-0625em {
    padding-top: 0.625em;
}
.pt-075em {
    padding-top: 0.75em;
}
.pt-1em {
    padding-top: 1em;
}
.pt-105em {
    padding-top: 1.5em;
}

.pb-0 {
    padding-bottom: 0!important;
}
.pb-02em {
    padding-bottom: 0.2em;
}
.pb-025em {
    padding-bottom: 0.25em;
}
.pb-08em {
    padding-bottom: 0.8em;
}
.pb-1em {
    padding-bottom: 1em;
}


/* buttons paddings */
.p05-1em {
    padding: 0.5em 1em;
}
.p06-1em {
    padding: 0.6em 1em;
}
.p08-1em {
    padding: 0.8em 1em;
}
.p08-0em {
    padding: 0.8em 0;
}


/* BORDERS */
.bb-1px-lightgrey {
    border-bottom: 1px solid #e6ebef;
}
.bb-footer {
    border-bottom: 1px solid var(--footer-border-color);
}
.bt-footer {
    border-top: 1px solid var(--footer-border-color);
}


/* WIDTH */
.w-400px {
    width: 400px;
}
.w-500px {
    width: 500px;
}
.w-650px {
    width: 650px;
}

.w-100 {
    width: 100%;
}

.mnw-320px {
    min-width: 320px;
}

.mxw-1066px {
    max-width: 1066px;
}
.mxw-195px {
    max-width: 195px;
}
.mxw-150px {
    max-width: 150px;
}

.mxw-70 {
    max-width: 70%;
}


/* HEIGHT */
.h-full-mini-header {
    height: calc(100vh - 59px);
}

.mnh-206em {
    min-height: 2.6em;
}

.h-100 {
    height: 100%;
}


/* other rules */
.header-mini-logo {
    padding-right: 1.250em;
    border-right: 2px solid var(--purple);
    margin-right: 1.250em;
}

.rm-p:first-of-type {
    padding-left: 0;
}
.rm-p:last-of-type {
    padding-right: 0;
}