<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}lebonmeow, site de petites annonces gratuites{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Lebonmeow" name="author">
        <meta name="description" content="Avec lebonmeow, trouvez la bonne affaire, réalisez-la bonne vente pour votre voiture, immobilier, emploi, location de vacances, vêtements, mode, maison, ...">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/009a4da58d.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ render(controller('App\\Controller\\HomeController::header')) }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include "partials/footer.html.twig" %}
        {% endblock %}
    </body>
</html>